# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/tests/test-app/node_modules/
/node_modules
/tests/test-app/.pnp
.pnp.js

# testing
/coverage
/tests_output
chromedriver.log

# next.js
/tests/test-app/.next/
/tests/test-app/out/

# production
/tests/test-app/build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
